@font-face {
	font-family: "Montserrat-regular";
	src: url ("./fonts/montserrat-regular-woff") format(woff);
	src: url("./fonts/montserrat-regular-webfont.eot?#iefix") format(embedded-opentype),
         url("./fonts/montserrat-regular-webfont.woff2") format(woff2),
         url("./fonts/montserrat-regular-webfont.ttf") format(truetype),
}

body {
	margin: 0;
	font-family: 'Montserrat-regular', sans-serif;
}

header {
	background: grey;
	color: white;
}

header h1 {
	display:block;
	margin:0px;
    font-size:30px;
    padding-left: 40px;
}

header h1:hover {
	color: #CBCEDE;
	margin-right: 40px;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	margin-right: 20px;
}

header h1,
header nav {
	   vertical-align: middle;
	   display: inline-block;
}

nav ul li {
	display: inline-block;
	padding: 25px;
}

nav ul li a {
	color: white;
	text-decoration:none;
}

section {
	margin:auto;
	text-align: center;
   }

 section img {
	padding:40px;
	opacity: 1;
	transition: opacity 0.5s linear;
   }

   section img:hover {
   	opacity: 0;
   	padding: 80px;
   }

   section p:hover {
   	opacity: 0.5;
   }

 section p a {
 	color: #1abc9c;
 	text-decoration: none;
 }

 h2 {
 	-webkit-animation: MyAnimation 4s infinite;
 	-moz-animation: MyAnimation 4s infinite;
 	-ms-animation: MyAnimation 4s infinite;
 	-o-animation: MyAnimation 4s infinite; 
    animation: MyAnimation 4s infinite;
 }

@-webkit-keyframes MyAnimation {
	0% { color: #1abc9c; }
	20% { color: #1AB4BC; }
	40% { color: #1A8BBC; }
	60% { color: #1A63BC; }
	80% { color: #1A8BBC; }
	100% { color: #1AB4BC; }
}

@-moz-keyframes MyAnimation {
	0% { color: #1abc9c; }
	20% { color: #1AB4BC; }
	40% { color: #1A8BBC; }
	60% { color: #1A63BC; }
	80% { color: #1A8BBC; }
	100% { color: #1AB4BC; }
}

@-o-keyframes MyAnimation {
	0% { color: #1abc9c; }
	20% { color: #1AB4BC; }
	40% { color: #1A8BBC; }
	60% { color: #1A63BC; }
	80% { color: #1A8BBC; }
	100% { color: #1AB4BC; }
}

@keyframes MyAnimation {
	0% { color: #1abc9c; }
	20% { color: #1AB4BC; }
	40% { color: #1A8BBC; }
	60% { color: #1A63BC; }
	80% { color: #1A8BBC; }
	100% { color: #1AB4BC; }
}

h2 span {
    -webkit-animation: StAnimation 4s infinite;
    -moz-animation: StAnimation 4s infinite;
    -ms-animation: StAnimation 4s infinite;
    -o-animation: StAnimation 4s infinite; 
    animation: StAnimation 4s infinite;
    
}

@-webkit-keyframes StAnimation {
	0% { opacity: 0.1; }
	20% { opacity: 0.2; }
	40% { opacity: 0.5; }
	60% { opacity: 1; }
	80% { opacity: 0.5; }
	100% { opacity: 0.2; }
}

@-moz-keyframes StAnimation {
	0% { opacity: 0.1; }
	20% { opacity: 0.2; }
	40% { opacity: 0.5; }
	60% { opacity: 1; }
	80% { opacity: 0.5; }
	100% { opacity: 0.2; }
}

@-o-keyframes StAnimation {
	0% { opacity: 0.1; }
	20% { opacity: 0.2; }
	40% { opacity: 0.5; }
	60% { opacity: 1; }
	80% { opacity: 0.5; }
	100% { opacity: 0.2; }
}

@keyframes StAnimation {
	0% { opacity: 0.1; }
	20% { opacity: 0.2; }
	40% { opacity: 0.5; }
	60% { opacity: 1; }
	80% { opacity: 0.5; }
	100% { opacity: 0.2; }
}

figure:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
